@layer utilities {
    .lazy-background {
        @apply bg-white dark:!bg-cat-900 text-cat-900 dark:text-white;
    }

    .lazy-gradient {
        backdrop-filter: blur(15px);
        background-image: url(https://raw.githubusercontent.com/ilsyaa/ilsyaa/refs/heads/main/cdn/img/cyan-blur.png), url(https://raw.githubusercontent.com/ilsyaa/ilsyaa/refs/heads/main/cdn/img/red-blur.png);
        background-repeat: no-repeat, no-repeat;
        background-position: right top, left bottom;
        background-size: 50%, 50%;
    }

    .lazy-shape-square {
        mask: url("https://raw.githubusercontent.com/ilsyaa/ilsyaa/4ea11aea71f399ab1f5efcb090d7b0b8a1354a17/cdn/img/shape-square.svg");
    }

    .lazy-gradient-none {
        backdrop-filter: none;
        background-image: none;
    }

    [theme-mode="dark"] .reverse[type='checkbox']:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
}
